.mainBody {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
}

.picture {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
}

.aboutMe {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}
