body {
    font-family: "Roboto";
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    font-size: 14px;
}

.navBar {
    display: flex;
    justify-content: flex-start;
}

.navBar > a {
    margin-left: 2px;
    margin-right: 2px;
}

.pageTitle {
    margin-top: 75px;
    margin-bottom: 25px;
}

.mainBody {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
}

.myPicture {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 300px;
    height: 300px;
}

.aboutMe {
    display: flex;
    justify-content: center;
    max-width: 450px;
    margin-top: auto;
    margin-bottom: auto;
}
