body {
    font-family: "Roboto";
}

@media only screen and (max-width: 220px) {
    h1 {
        text-align: center;
        font-size: 2rem !important;
    }
}
@media only screen and (min-width: 220px) {
    h1 {
        text-align: center;
        font-size: 2.5rem !important;
    }
}

p {
    text-align: justify;
    font-size: 1rem;
}

.pageTitle {
    margin-top: 50px;
    margin-bottom: 20px;
}

.mainBody {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
}

.picture {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 15px;
}

.aboutMe {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}
