body {
    font-family: "Roboto";
}

@media only screen and (max-width: 220px) {
    h1 {
        text-align: center;
        font-size: 2rem !important;
    }
    
    h2 {
        font-size: 1.5rem !important;
    }
}
@media only screen and (min-width: 220px) {
    h1 {
        text-align: center;
        font-size: 2.5rem !important;
    }
    
    h2 {
        font-size: 2rem !important;
    }
}

h2 {
    text-align: center;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-size: 1rem;
}

.pageTitle {
    margin-top: 50px;
    margin-bottom: 20px;
}

.pageDescription {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.pageDescription > div > p {
    text-align: center;
}

.mainBody {
    display: flex;
    flex-direction: column;
}

.gameContent {
    margin-bottom: 30px;
}

.quote {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.quote > div > p {
    font-style: italic;
    color: #545454;
}

.quote > div > .text {
    text-align: justify;
}

.quote > div > .character {
    text-align: right;
}

.screenshots {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.screenshots > .screenshot {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 10px;
}

.last {
    margin-bottom: 10px;
}