body {
    font-family: "Roboto";
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-style: italic;
}

p {
    font-size: 14px;
}

.pageTitle {
    margin-top: 75px;
    margin-bottom: 45px;
}

.pageDescription {
    display: flex;
    justify-content: center;
}

.pageDescription > div {
    width: 450px;
}

.pageDescription > div > p {
    text-align: center;
}

.mainBody {
    display: flex;
    flex-direction: column;
}

.gameContent {
    margin-bottom: 30px;
}

.quote {
    display: flex;
    justify-content: center;
}

.quote > div {
    width: 500px;
}

.quote > div > p {
    font-style: italic;
    color: #545454;
}

.quote > div > .text {
    text-align: justify;
}

.quote > div > .character {
    text-align: right;
}

.screenshots {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.screenshots > .screenshot {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 10px;
}