body {
    font-family: "Roboto";
}

@media only screen and (max-width: 220px) {
    h1 {
        text-align: center;
        font-size: 2rem !important;
    }
}
@media only screen and (min-width: 220px) {
    h1 {
        text-align: center;
        font-size: 2.5rem !important;
    }
}

p {
    font-size: 1rem;
}

.navBar {
    display: flex;
    justify-content: flex-start;
}

.navBar > a {
    margin-left: 2px;
    margin-right: 2px;
}

.navBar > .current {
    background-color: #23272b;
    border: 1px solid black;
}

.pageTitle {
    margin-top: calc(40px + 2vh);
    margin-bottom: 4vh;
}

.pageDescription {
    max-width: 450px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.pageDescription > div > p {
    text-align: center;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .project {
        flex-direction: column-reverse;
    }
    
    
}

@media only screen and (min-width: 480px) {
    .project {
        flex-direction: row;
    }
    
    .description {
        padding: 15px;
    }
}

.projectLink {
    align-self: center;
}

.logo {
    width: 100%;
    max-width: 250px;
    height: auto;
    border: 1px solid black;
}

.description {
    width: 100%;
    max-width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}

.spacer {
    height: 20px;
}
