body {
    font-family: "Roboto";
}

@media only screen and (max-width: 220px) {
    h1 {
        text-align: center;
        font-size: 2rem !important;
    }
}
@media only screen and (min-width: 220px) {
    h1 {
        text-align: center;
        font-size: 2.5rem !important;
    }
}

p {
    font-size: 1rem;
}

.pageTitle {
    margin-top: 50px;
    margin-bottom: 20px;
}

.pageDescription {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.pageDescription > div > p {
    text-align: center;
}

.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
    .video {
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 480px) {
    .video {
        flex-direction: row;
    }
}

.videoContainer {
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 10px;
}

.videoLink {
    width: 100%;
    height: 100%;
}

.info {
    width: 100%;
    max-width: 200px;
    height: auto;
}

@media only screen and (max-width: 480px) {
    .info {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 480px) {
    .info {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.info > p {
    margin-bottom: 0;
}

.last {
    margin-bottom: 10px;
}